@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>    
    <abbr title="Phone">P:</abbr>
    813.351.0755
    <a href="mailto:DanielKWard@outlook.com">DanielKWard@outlook.com</a>
</address>